/* CSS by Thomas Karl */
/* Color Pallet
dark-blue: #024873
light-blue: #62CDD9
cream: #F2F0D0
mid-orange: #F27507
mid-red: #D92929
*/

/* GLOBAL STYLES - MOBILE FIRST */
body {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
}

header {
    font-family: "Verdana", "Arial", sans-serif;
    background-color: #024873;
    color: #F2F0D0;
    text-align: center;
    padding: 0.5rem;
    border-bottom: 10px solid #62CDD9;
}

header h1 {
    margin: 1rem 0 0.5rem 0;
}

header p {
    margin-top: 0.5rem;
    color: #62CDD9;
    font-size: 1.25rem;
}

nav {
    background-color: #F2F0D0;    
    border-top: 5px solid #F27507;
    border-bottom: 10px solid #024873;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    padding: 0.5rem;
    margin: .25rem;
}

main {
    padding: 1rem;
    border-top: 5px solid #D92929;
    border-bottom: 5px solid #F27507;
}

a {
    display: block;
    background-color: #F2F0D0;
    color: #F27507;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

a:hover {
    background-color: #D92929;
    color: #F2F0D0;
}

img {
    display: flex;
    margin: 0 auto;
}

section {
    margin: 1rem 0;
    border: 5px solid #024873;
    padding: 1rem;
    background-color: #62CDD9;
}

footer {
    background-color: #024873;
    color: #F2F0D0;
    text-align: center;
    padding: 0.5rem;
    border-top: 10px solid #62CDD9;
}